body
{
  /* margin: 0;
  padding: 0; */
  background-image: url(back.jpg);

}

#para{
  margin-left: 640px;
  font-size: 30px;
}

.hero
{
  margin-top: 100px;
}

h2
{
  margin-left: 25px;
  color:black;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  align-self: center;
  /* margin-top: 100px; */

}

.btn-info
{
  margin-top:10px;
  align-self: center;
  margin-left: 650px;
  border: 1px solid black;
  padding: 10px 30px;
  color: black;
  text-decoration: none;
  font-size:13px;
  text-transform: uppercase;

}
.btn-info:hover
{
  background-color: black;
  color: white;
}
.results
{
  margin-top:100px;
  color:black;
  text-transform: uppercase;
  font-size: 30px;
  margin-left: 500px;
}

.ml-container
{
  align-self: center;
  margin-left: 400px;
  font-size: 20px;
}
